<%- include('../../partials/header'); -%>
<div class="container mt-3">
  <h3>Categorias</h3>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach((categories) => { %>
        <tr>
          <th><%= categories.id %> </th>
          <th><%= categories.title %> </th>
          <th><%= categories.slug %> </th>
          <th>
            <button class="btn btn-warning mr-3">Editar</button>
            <!-- 
              Truque onde enviamos o valor do id através do campo escondido
              O button chama o form que abre a roda para deletar a categoria
            -->
            <form method="POST" action="/categories/delete" style="display: inline;">
              <input type="hidden" name="id" value="<%= categories.id %>">
              <button class="btn btn-danger">Excluir</button>
            </form>
          </th>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>
<%- include('../../partials/footer'); -%>
